html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

a {
  background: transparent;
}

a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Hanken Grotesk", sans-serif;
  font-weight: 500;
  font-size: 18px;
}

.content-wrapper {
  display: flex;
  width: 100%;
}

.col {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 300px;
  height: 440px;
  padding: 2em;
}
.col .heading {
  font-size: 1.3em;
  margin: 0;
}

.result {
  position: relative;
  z-index: 1;
  color: hsl(241, 100%, 89%);
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  border-radius: 30px;
}
.result p {
  margin: 0;
  width: 85%;
}
.result .compliment {
  color: hsl(0, 0%, 100%);
  font-size: 1.8em;
  margin: 0.4em 0;
}

.out-of-100 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(hsl(256, 72%, 46%), hsla(241, 72%, 46%, 0));
  border-radius: 100%;
  width: 200px;
  aspect-ratio: 1/1;
  margin: 2em 0 1em 0;
}
.out-of-100 h1 {
  color: hsl(0, 0%, 100%);
  font-size: 4em;
  margin: 0;
}
.out-of-100 p {
  font-weight: 700;
}

.summary {
  display: flex;
  position: relative;
  left: -30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: -0.1px -0.5px 0px black inset;
  padding-left: 3.5em;
}
.summary .heading {
  align-self: start;
  padding-bottom: 1.5em;
}
.summary .btn {
  margin: auto 0;
}

.chart {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.chart-item p {
  margin: 0.8em;
}
.chart-item:last-of-type {
  margin-bottom: 2em;
}

.reaction, .memory, .verbal, .visual {
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.reaction .left, .memory .left, .verbal .left, .visual .left {
  display: flex;
  align-items: center;
  margin-left: 0.6em;
}
.reaction .left .icon, .memory .left .icon, .verbal .left .icon, .visual .left .icon {
  height: 100%;
}
.reaction .score, .memory .score, .verbal .score, .visual .score {
  font-weight: 700;
  color: black;
  display: flex;
  align-items: center;
}
.reaction .hundred, .memory .hundred, .verbal .hundred, .visual .hundred {
  color: gray;
}

.reaction {
  color: hsl(0, 100%, 67%);
  background: hsla(0, 100%, 67%, 0.05);
}

.memory {
  color: hsl(39, 100%, 56%);
  background: hsla(39, 100%, 56%, 0.05);
}

.verbal {
  color: hsl(166, 100%, 37%);
  background: hsla(166, 100%, 37%, 0.05);
}

.visual {
  color: hsl(234, 85%, 45%);
  background: hsla(234, 85%, 45%, 0.05);
}

.btn {
  text-decoration: none;
  color: white;
  border-radius: 30px;
  width: 85%;
  background: hsl(224, 30%, 27%);
  padding: 0.9em;
}
.btn:hover {
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}/*# sourceMappingURL=main.css.map */